:root {
  --bs-body-bg: rgba(97, 97, 91, 0.863);
}
h2 {
  color: white;
}

p {
  color: white;
}
.progress {
  height: 30px;
  margin: 3px;
}
.col-1 {
  width: 5px;
}

.grade {
  color: white;
}

.display-1 {
  color: white;
}

.fileInput {
  color: white;
  padding: 50px;
}

.stats {
  padding-top: 50px;
}
